#back {
    background-color:;
}


p #name {
    position: absolute;
    color: turquoise;
font-size: 67px;
text-align: center;
padding-top: 115px;

}

header{ background-color: black}

main{ background-color: blue;}

footer{ background-color:blue;}

#stars { height: 100px;}