
#container{

position: relative;
text-align: center;
color: turquoise
}


#htext{

    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 67px;

}


 
header{ background-color: black}

main{ background-color: blue;}

footer{ background-color:blue;}

#stars { height: 100px;}